<kendo-appbar [position]="'top'">
  <!-- <kendo-appbar-section class="column"></kendo-appbar-section> -->
  <!-- [themeColor]="'dark'" -->
  <!-- <kendo-appbar-section>
    <span class="k-appbar-separator"></span>
  </kendo-appbar-section> -->
  <kendo-appbar-section class="column">
    <!-- <span class="k-appbar-separator"></span> -->
    <kendo-icon name="menu" size="large"></kendo-icon>
  </kendo-appbar-section>
  <kendo-appbar-section class="column">
    <!-- <span class="k-appbar-separator"></span> -->
    <h1>LAP Vorbereitung</h1>
  </kendo-appbar-section>
  <kendo-appbar-section class="column" style="width: 33.8%">
    <kendo-appbar-spacer></kendo-appbar-spacer>
    <button
      kendoButton
      (click)="login()"
      title="Login"
      fillMode="clear"
      class="icon-button"
    >
      <kendo-icon name="user" size="large"></kendo-icon>
    </button>
    <!-- <button>
      <span class="k-i-user"></span>
    </button> -->
  </kendo-appbar-section>
</kendo-appbar>

<router-outlet></router-outlet>
